@import './assets/src/colors/colors.css';
/* - */

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

/* Styles - Global */
.principalContainer {
    align-items: center;
    justify-content: center;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 10px;
    padding-inline: 15px;
    margin-inline: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Styles - Principal */

.headerContainer {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
}

.footerContainer {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    margin-block: 20px;
}

/* Styles - Header */

.logoContainer {
    margin-top: 20px;
    margin-bottom: 15px;
}

.logoImage {
    width: 200px;
}

/* Styles - Central Container */

.centralContainer {
    width: 95%;
}

.principalTitle {
    margin-bottom: 30px;
}

.separator {
    height: 1px;
    background-color: black;
}

.orderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 20px;
    gap: 10px;
}

.searchContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-block: 10px;
    padding-inline: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inputContainer {
    background-color: transparent;
    border-color: transparent;
}

.dropdownContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.selectContainer {
    background-color: transparent;
    border-color: transparent;
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff; /* Texto blanco */
    font-size: 15px;
    z-index: 1000;
    flex-direction: column;
}

.productContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.cardAddContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-width: 5px;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.cardImage {
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.cardDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.cardTitle,
.cardPrice {
    font-weight: bold;
    font-size: 15px;
}

.cardDescription {
    font-size: 12px;
    font-weight: normal;
}

.cardTitle,
.cardDescription,
.cardPrice {
    margin: 5px;
    color: rgb(0, 0, 0);
}

.cardButton {
    display: flex;
    align-items: center;
    margin-block: 20px;
    border-radius: 10px;
    padding-block: 8px;
    padding-inline: 12px;
    gap: 5px;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
}

.cardButton .fa {
    font-size: 12px;
}

.cardButton:hover {
    background-color: var(--hover-color);
}

.numberContainer {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 25px;
}

/* Styles - Texts */

.textSimple {
    font-size: 15px;
}

.textTitle {
    font-size: 30px;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: normal;
}

.textSimple,
.textTitle,
.cardTitle,
.cardDescription,
.cardPrice {
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


/* Syles - Icons */

.iconContainer {
    display: flex;
    gap: 15px;
    flex-direction: row;
}

.iconButton {
    border-radius: 50%;
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.iconButton:hover {
    background-color: var(--hover-color);
}

@media (max-width: 2056px) {
    .headerContainer,
    .footerContainer,
    .orderContainer {
        display: flex;
        justify-content: space-between;
    }

    .productContainer {
        display: flex;
        gap:55px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .cardAddContainer {
        display: flex;
        width: 18%;
    }

    
}

@media (max-width: 690px) {
    .headerContainer,
    .footerContainer,
    .orderContainer,
    .dropdownContainer {
        display: flex;
        flex-direction: column;
    }

    .productContainer {
        display: flex;
        gap:20px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .cardAddContainer {
        display: flex;
        width: 35%;
    }
    
    .cardTitle,
    .cardDescription,
    .cardPrice {
        font-size: 12px ;
    }
}
@media (max-width: 375px) {
    .headerContainer,
    .footerContainer,
    .orderContainer,
    .dropdownContainer {
        display: flex;
        flex-direction: column;
    }

    .productContainer {
        display: flex;
        gap:20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .cardAddContainer {
        width: 80%;
    }

    .cardTitle,
    .cardDescription,
    .cardPrice {
        font-size: 10px ;
    }

}