/* Styles - Global */

.principalContainer {
    align-items: center;
    justify-content: center;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 10px;
    padding-inline: 15px;
    margin-inline: 40px;
    background-color: #F0F2F5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Styles - Principal */

.headerContainer {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
}

.footerContainer {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    margin-block: 20px;
}

/* Styles - Header */

.logoContainer {
    margin-top: 20px;
    margin-bottom: 15px;
}

.logoImage {
    width: 200px;
}

/* Styles - Central Container */

.centralContainer {
    width: 95%;
}

.principalTitle {
    margin-bottom: 30px;
}

.separator {
    height: 1px;
    background-color: black;
}

.orderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 20px;
    gap: 10px;
}

.searchContainer {
    display: flex;
    align-items: center;
    background-color: #cad7fa;
    border-color: #d6e1fe;
    gap: 5px;
    padding-block: 10px;
    padding-inline: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
}

.inputContainer {
    background-color: transparent;
    border-color: transparent;
}

.dropdownContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.selectContainer {
    background-color: transparent;
    border-color: transparent;
    background-color: #cad7fa;
    border-color: #d6e1fe;
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
    cursor: pointer;
}

.productContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.cardAddContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cad7fa;
    border-color: #d6e1fe;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
}

.cardContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cardImage {
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.cardDetails {
    position: absolute;
    background-color: hsla(0, 0%, 44%, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: all .4s ease-in-out;
    border-radius: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cardContainer:hover .cardDetails {
    opacity: 1;
}

.cardContainer:hover .cardTitle,
.cardContainer:hover .cardDescription {
    transform: translateY(0);
}

.cardTitle,
.cardPrice {
    font-weight: bold;
}

.cardDescription {
    font-weight: normal;
}

.cardTitle,
.cardDescription,
.cardPrice {
    margin: 5px;
    color: rgb(0, 0, 0);
    transition: all .3s ease-in-out;
}

.cardButton {
    margin-top: 20px;
    border-radius: 10px;
    padding-block: 5px;
    padding-inline: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: #fff8bc;
    border-color: #f0ffd4;
}

.cardButton:hover {
    background-color: #ffffe9;
}

.numberContainer {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 25px;
}

/* Styles - Texts */

.textSimple {
    font-size: 15px;
}

.textTitle {
    font-size: 30px;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: normal;
}

.textSimple,
.textTitle,
.cardTitle,
.cardDescription,
.cardPrice {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


/* Syles - Icons */

.iconContainer {
    display: flex;
    gap: 15px;
    flex-direction: row;
}

.iconButton {
    border-radius: 50%;
    background-color: #cad7fa;
    border-color: #d6e1fe;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.iconButton:hover {
    background-color: #ffffe9;
}

@media (max-width: 2056px) {
    .headerContainer,
    .footerContainer,
    .orderContainer {
        display: flex;
        justify-content: space-between;
    }

    .productContainer {
        display: flex;
        gap:55px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .cardAddContainer {
        display: flex;
        width: 18%;
    }

    
}

@media (max-width: 690px) {
    .headerContainer,
    .footerContainer,
    .orderContainer,
    .dropdownContainer {
        display: flex;
        flex-direction: column;
    }

    .productContainer {
        display: flex;
        gap:20px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .cardAddContainer {
        display: flex;
        width: 35%;
    }
    
    .cardTitle,
    .cardDescription,
    .cardPrice {
        font-size: 12px ;
    }
}
@media (max-width: 375px) {
    .headerContainer,
    .footerContainer,
    .orderContainer,
    .dropdownContainer {
        display: flex;
        flex-direction: column;
    }

    .productContainer {
        display: flex;
        gap:20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .cardAddContainer {
        width: 80%;
    }

    .cardTitle,
    .cardDescription,
    .cardPrice {
        font-size: 10px ;
    }

}