.buttonContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
}

.button {
    cursor: pointer;
    background-color: var(--hover-color);
    border-color: var(--secondary-color);
    border-radius: 5px;
    padding-block: 10px;
    width: 100%;
    font-weight: bolder;
    font-size: 15px;
}

.aditionalText {
    font-size: 12px;
    color: rgb(134, 134, 134);
    cursor: pointer;
}